
@font-face {
	font-family: Vazir;
	src: url('../font/vazir-font/Vazir.eot'),
		/* non-IE */ url('../font/vazir-font/Vazir.woff'),
	url('../font/vazir-font/Vazir.ttf'); /* IE */
}
.font-vazir{
	font-family:Vazir ;
}
.up{
	margin-top: 10px;
}
.uptow{
	margin-top: 20px;
}
.upfive{
	margin-top: 50px;
}
.background{
	background-color: #cccccc;
}
.textalign{
	text-align:justify;
	direction:rtl;
	margin-top: 10px;
}
